<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="usersService" class="ru.itis.logistic_service.services.UsersServiceImpl">
        <constructor-arg name="authRepository" ref="authRepository"/>
        <constructor-arg name="usersRepository" ref="usersRepository"/>
        <constructor-arg name="passwordEncoder" ref="passwordEncoder"/>
    </bean>

    <bean id="usersRepository" class="ru.itis.logistic_service.repositories.UsersRepositoryJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="authService" class="ru.itis.logistic_service.services.AuthServiceImpl">
        <constructor-arg name="authRepository" ref="authRepository"/>
    </bean>

    <bean id="authRepository" class="ru.itis.logistic_service.repositories.AuthRepositoryJdbcTemplateImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="carrierService" class="ru.itis.logistic_service.services.CarrierServiceImpl">
        <constructor-arg name="applicationsRepository" ref="applicationRepository"/>
        <constructor-arg name="carriersRepository" ref="carriersRepository"/>
        <constructor-arg name="driversRepository" ref="driversRepository"/>
        <constructor-arg name="tractorsRepository" ref="tractorsRepository"/>
        <constructor-arg name="trailersRepository" ref="trailersRepository"/>
    </bean>

    <bean id="applicationService" class="ru.itis.logistic_service.services.ApplicationServiceImpl">
        <constructor-arg name="applicationsRepository" ref="applicationRepository"/>
    </bean>

    <bean id="applicationRepository" class="ru.itis.logistic_service.repositories.ApplicationsRepositoryJdbcImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="carriersRepository" class="ru.itis.logistic_service.repositories.CarriersRepositoryJdbcImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="driversRepository" class="ru.itis.logistic_service.repositories.DriversRepositoryJdbcImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="tractorsRepository" class="ru.itis.logistic_service.repositories.TractorRepositoryImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="trailersRepository" class="ru.itis.logistic_service.repositories.TrailersRepositoryImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="customerService" class="ru.itis.logistic_service.services.CustomerServiceImpl">
        <constructor-arg name="applicationsRepository" ref="applicationRepository"/>
    </bean>

    <bean id="customerRepository" class="ru.itis.logistic_service.repositories.CustomersRepositoryJdbcImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="companyService" class="ru.itis.logistic_service.services.CompanyServiceImpl">
        <constructor-arg name="companiesRepository" ref="companiesRepository"/>
        <constructor-arg name="carriersRepository" ref="carriersRepository"/>
        <constructor-arg name="customersRepository" ref="customerRepository"/>
        <constructor-arg name="usersService" ref="usersService"/>
    </bean>

    <bean id="companiesRepository" class="ru.itis.logistic_service.repositories.CompaniesRepositoryJdbcImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="postgres"/>
        <property name="password" value="logistic"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/logistic_service"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
        <!--<property name="exposeSpringMacroHelpers" value="true" />-->
        <!--<property name="prefix" value="/view/" />-->
        <!--<property name="suffix" value=".ftl" />-->
    <!--</bean>-->

</beans>